.wrappen{
    width: 100vw;
    background-color: #02051b;
    color: #fff;
    margin-bottom: 3vh;
} 


.navbar {
    display: flex;
    padding: 1em;
    padding-bottom: 2em;
    justify-content: space-between;
}


.navbar-sharp{
    width: 20%;
}


.menu{
    display: flex;
    width: 80%;
    justify-content: space-around;
}


.menu .active{
    color: #34b0be;
}


.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    /* font-size: 100%; */
}


.menu a:hover{
    background-color: #34b0be;
    color: #242635;
    /* transition: 4s; */
    /* border-radius: 5px; */
}